@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root{
    --main-color:#1E90FF;
    --background-color:#E9ECEF;
    --text-color: #212529;
    --success-color:#28A745;
    --danger-color:#DC3545;
    --warning-color:#FFC107; 
    --info-color:#17A2B8; 
    --light-color:#fff;
    --dark-color:#000;
}
main {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden ;
    background-color: var(--background-color);
    color: var(--text-color);

}
